.map {
  @include modalParams;
  @include centerContent;

  &__content {
    @include centerContent;
    @include popupContent;
  }

  &__title {
    font-size: $standartSectTitleFontSize;
    font-family: $logoFont;
    margin-bottom: 40px;
  }

  .position {

    &__map {
      width: 40vw;
      max-width: 1000px;
      height: 50vh;
      max-height: 1000px;
      border: none;
    }
  }
}