
// Paddings and Margins
$sidePaddings:  3% 10% 7%;


// Font styles, families, sizes
$logoFont: 'Imprisha';
$logoFontSize: 20px;

// Imgs and logos
$menuIconWidth: 18px;



// Colors
$mainBlue: #0075FF;