
// Paddings and Margins
$sidePaddings:  3% 10% 7%;
$sectionTitleMarginBottom: 80px;

// Width and Height
$maxContentWidth: 1200px;
$minPageWidth: 300px;


// Font styles, families, sizes
$logoFont: 'Imprisha';
$logoFontSize: 20px;

// media Querries font-sizes
// section title
$_300-499SectTitleFontSize: 20px;
$_500-849SectTitleFontSize: 24px;
$_850-999SectTitleFontSize: 36px;
$standartSectTitleFontSize: 42px;
$_1400SectTitleFontSize: 60px;

// Sub title
$_300-499SubTitleFontSize: 14px;
$_500-849SubTitleFontSize: 18px;
$_850-999SubTitleFontSize: 18px;
$standartSubTitleFontSize: 20px;
$_1400SubTitleFontSize: 24px;
$_2000SubTitleFontSize: 36px;

// Plain text
$_300-499TextFontSize: 12px;
$_500-849TextFontSize: 14px;
$_850-999TextFontSize: 14px;
$standartTextFontSize: 16px;
$_1400TextFontSize: 20px;
$_2000TextFontSize: 25px;


@mixin plainTextProps {
  font-family: "RobotoI";
  font-weight: 400;
}

// Imgs and logos
$menuIconWidth: 18px;


// Colors
$mainBlue: #0075FF;
$hoveredBtn: #005ECC;
$greyText: #9FADC2;
$inputBgc: #F7F8FF;
$inputHoverColor: #CCD0E0;


// Buttons
@mixin button {
  color: $mainBlue;
  border: 2px solid $mainBlue;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

@mixin buttonHover {
  background-color: $hoveredBtn;
  color: white;
  box-shadow: 0px 13px 27px rgba(0, 83, 181, 0.46);
}

@mixin buttonActive {
  box-shadow: 0px 8px 14px rgba(0, 83, 181, 0.48);
}


// modal specs
@mixin modalParams {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  padding: $sidePaddings;
  box-sizing: border-box;
  min-width: $minPageWidth;
  background-color: rgba($color: $mainBlue, $alpha: 0.7);
}

// center content
@mixin centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin popupContent {
  flex-direction: column;
  position: relative;
  width: 50vw;
  max-width: $maxContentWidth;
  height: 70vh;
  max-height: $maxContentWidth;
  box-sizing: border-box;
  background-color: rgba($color: $inputBgc, $alpha: 1);
  border-radius: 8px;
  padding: 5%;
}
