@media (min-width: 1400px) {
  .contacts {

    &__title {
      font-size: $_1400SectTitleFontSize;
    }

    &__section {
      font-size: $_1400TextFontSize;
    }
  }
}

@media (min-width: 2000px) {
  .contacts {

    &__section {
      font-size: $_2000TextFontSize;
    }
  }
}

@media (min-width: 100px) and (max-width: 499px) {
  .contacts {

    &__content {
      width: 100%;
    }
  
    &__title {
      font-size: $_300-499SectTitleFontSize;
    }
  
    &__section {
      flex-direction: column;
      font-size: $_300-499TextFontSize;
      margin-top: 20px;
  
      .contactInfo {
        flex-direction: column;
        margin-right: 0;

        &__content {
          width: 70vw;
        }
      }
  
      .contactForm {

        &__field {
          width: 100%;

          &--btn {
            height: 33%;
            min-height: 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 849px) {
  .contacts {

    &__title {
      font-size: $_500-849SectTitleFontSize;
    }

    &__section {
      flex-direction: column;
      font-size: $_500-849TextFontSize;
      margin-top: 40px;

      .contactInfo {
        flex-direction: column;
        margin-right: 0;

        &__content {
          width: 70vw;
          max-width: 100%;
        }
      }

      .contactForm {

        &__field {
          width: 70vw;
        }
      }
    }
  }
}

@media (min-width: 850px) and (max-width: 1000px) {
  .contacts {

    &__title {
      font-size: $_850-999SectTitleFontSize;
    }

    &__section {
      font-size: $_850-999TextFontSize;
    }
  }
}
