.modalWrapper {
  @include modalParams;

  background-color: rgba($color: $mainBlue, $alpha: 1);

  .modalMenu {
    max-width: $maxContentWidth;
    padding-top: 20vh;

    &__remover {
      padding: 10px;
      cursor: pointer;
    }

    .menuList {
      font-family: "RobotoI";
      font-size: 22px;

      &__item {
        padding: 10px 0 0;
        position: relative;

        & > a {
          text-decoration: none;
          color: rgba($color: white, $alpha: 0.7);
          transition: 0.5s;
          padding: 10px;
          display: inline-block;
          border-bottom: 2px solid transparent;

          &:hover {
            color: rgba($color: white, $alpha: 1);
            cursor: pointer;
            border-bottom: 2px solid white;
          }
        }
      }
    }
  }
}
